<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
<body>
    <div class="flex flex-col w-screen h-screen overflow-auto text-gray-700 bg-gradient-to-tr from-blue-200 via-indigo-200 to-pink-200">
        <section id="welcome">
            <div class="mx-20 lg:mx-72 xl:mx-80 2xl:mx-96 py-36">
                <div class="border items-center border shadow-md rounded-lg bg-gray-50 hover:bg-white">
                    <div class="flex flex-col-reverse sm:flex-row mx-20 my-20 sm:justify-evenly">
                        <div class="mt-5">
                            <h1 class="text-4xl text-center sm:text-justify sm:text-justify font-bold mb-2">Welcome to kanban app</h1>
                            <div class="flex justify-center my-5 space-x-4">
                                <a href="/login">
                                    <button class="flex items-center w-20 py-2 px-2 justify-center rounded-lg shadow text-indigo-500 font-bold bg-gradient-to-tr hover:text-white from-blue-300 via-indigo-300 to-pink-300 hover:from-blue-500 hover:via-indigo-500 hover:to-pink-500">
                                        Login
                                    </button>
                                </a>
                                <a href="/register">
                                    <button class="flex items-center w-20 py-2 px-2 justify-center rounded-lg shadow text-indigo-500 font-bold bg-gradient-to-tr hover:text-white from-blue-300 via-indigo-300 to-pink-300 hover:from-blue-500 hover:via-indigo-500 hover:to-pink-500">
                                        Register
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>