<!DOCTYPE html>
<html>

<head>
    <title>Cashier App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/assets/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="bg-gradient-to-r from-cyan-500 to-blue-500">
    <section id="welcome">
        <div class="mx-20 md:mx-52 py-36">
            <div class="border items-center border shadow-md rounded-lg bg-white">
                <div class="flex flex-col-reverse sm:flex-row mx-20 my-20 sm:justify-evenly">
                    <div class="mt-5">
                        <h1 class="text-4xl text-center sm:text-justify sm:text-justify font-bold mb-2">Welcome to Cashier App</h1>
                        <div class="flex justify-center my-5">
                            <a href="/page/register"><button class="border shadow rounded-lg mx-4 py-2 px-2 bg-blue-900 hover:bg-blue-500 text-white font-bold w-20">
                                Register
                            </button></a>
                            <a href="/page/login"><button class="border shadow rounded-lg mx-4 py-2 px-2 bg-blue-900 hover:bg-blue-500 text-white font-bold w-20">
                                Login
                            </button></a>
                        </div>
                    </div>
                    <div>
                        <img src="/assets/images/cashier.png" class="block mx-auto" width="150px" height="150px"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>